@keyframes smoke {
    0% {
        opacity: 0;
        transform: rotateY(90deg);
      
        
    }
    100% {
        opacity: 1;
        transform: rotateY(0) translateZ(0);
   
    }
}
@keyframes type {
    0% {
        width:0;
        opacity: 1;
    }
    50% {
        width:100%;
    }
    100% {
        width:0;
        opacity: 1;
    }
}