@import './variable';
.project {
     @include paddingPart();
     & h1 {
          @include h1Style();
          
     }
     &-list {
         @include gridWrap(3);
         grid-gap:3rem;

         &-item {
             display:flex;
             flex-direction: column;
             align-items: center;
             border:1px solid #DDDDDD;
             line-height: 1.5;
             & > * {
                 margin-bottom:2rem;
             }
             & .item-img {
                 width:100%;
                 height:35rem;
                 & img {
                     width:100%;
                     height:100%;
                     object-fit: fill;
                   
                 }
             }
             & p {
                
                    padding:0 1rem;
                 text-align: center;

                
             }
             & .tech{
                 margin-top:auto;
                 margin-bottom:3rem;
             }
             & h2 {
                 font-size:2rem;
             }
             &-source {
                  & a {
                 cursor: pointer;
                 font-size:1.6rem;
                 color:black;
                 margin-top:auto;
                 border:1px solid black;
                 border-radius: 5px;
                 padding: 5px;
                 &:not(:last-child){
                     margin-right:2rem;
                 }
               
                
                 & i {
                     font-size:1.8rem;
                     margin-left:2px;
                     
                 }
             }
             }
           
            
            
         }
     }
    }