@-webkit-keyframes smoke {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateY(0) translateZ(0);
            transform: rotateY(0) translateZ(0);
  }
}

@keyframes smoke {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateY(0) translateZ(0);
            transform: rotateY(0) translateZ(0);
  }
}

@-webkit-keyframes type {
  0% {
    width: 0;
    opacity: 1;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0;
    opacity: 1;
  }
}

@keyframes type {
  0% {
    width: 0;
    opacity: 1;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0;
    opacity: 1;
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  background: black;
  height: 100vh;
  color: #ffff;
}

.header-main {
  margin: 0;
  padding: 0;
  font-size: 18rem;
  font-family: "Oswald", sans-serif;
  color: #ffff;
  font-weight: 900;
  position: absolute;
  top: 40%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  letter-spacing: 5rem;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.header-main span {
  opacity: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  display: inline-block;
  -webkit-animation: smoke 1s linear forwards;
          animation: smoke 1s linear forwards;
}

.header-main span:nth-child(1) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.header-main span:nth-child(2) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.header-main span:nth-child(3) {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

.header-main span:nth-child(4) {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.header-main span:nth-child(5) {
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
}

.header-main span:nth-child(6) {
  -webkit-animation-delay: 3.75s;
          animation-delay: 3.75s;
}

.header-main span:nth-child(7) {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.header-main span:nth-child(8) {
  -webkit-animation-delay: 4.5s;
          animation-delay: 4.5s;
}

.header video {
  position: absolute;
  top: 40%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#f00), color-stop(#f00), color-stop(#0f0), color-stop(#0ff), color-stop(#ff0), to(#0ff));
  background: linear-gradient(to right, #f00, #f00, #0f0, #0ff, #ff0, #0ff);
  pointer-events: none;
  mix-blend-mode: color;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  padding: 3rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.navbar-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 4.5rem;
}

.navbar-links li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.navbar-links li:not(:last-child) {
  margin-right: 5rem;
}

.header-intro {
  position: absolute;
  top: 55%;
  z-index: 9;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 3.5rem;
  color: transparent;
  font-weight: 900;
  letter-spacing: 10px;
  text-transform: uppercase;
}

.header-intro::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  color: #ffff;
  border-right: 1px solid #ffff;
  -webkit-animation: type 7s linear infinite;
          animation: type 7s linear infinite;
  overflow: hidden;
  color: #ffff;
  white-space: nowrap;
  opacity: 0;
  -webkit-animation-delay: 4.75s;
          animation-delay: 4.75s;
}

*, body {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
/*# sourceMappingURL=style.css.map */